<li><%= link_to "Compañia", pages_about_us_path  %></li>

<li><%= link_to "Carta Bar", pages_faq_path  %></li>

<li><%= link_to "Terminos de servicio", pages_tos_path  %></li>

<li><%= link_to "Locales", pages_contact_us_path  %></li>

<li><%= link_to "Registrese", pages_contact_us_path  %></li>

<li><%= link_to "Iniciar sesion", pages_login_path  %></li>

